body
{
background-color: brown;
}

.footer
{
    background-color: blanchedalmond;
    bottom:0;
    position: fixed;
    width: 100%;
    color: red;
    line-height:3;
    text-align: center;
}